@import "partials/variables";
@import "partials/mixins";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  background-color: $main-background-color;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $primary-text-color;
}

.navbar {
  min-height: 70px;
}

nav.bg-dark {
  background-color: $nav-background-color !important;
}

.picHover {
  filter: grayscale(100%);
  body.hasHover &:hover {
    filter: none;
    cursor: pointer;
  }
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 35px;
  left: 15%;
  z-index: 10;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.7);
  h5 {
    color: #000;
    margin: 0;
    text-shadow: 1px 1px #000;
  }
}

.pt-custom {
  padding-top: 1.7rem !important;
}

.video-wrapper {
  border: 2px #000 solid;
  box-shadow: -15px -15px 30px rgba(0, 0, 0, 0.7);
  padding: 1rem 3rem 3rem;
  @include magic-color;
  .vid-border {
    border: 3px solid #111;
    box-shadow: 1px 1px 4px #fff;
  }
}

div#exampleModalCenter.modal {
  color: $secondery-text-color;
}

body.modal-open > :not(.modal) {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(2px);
}

div#programs {
  color: $secondery-text-color !important;
  .col-4 {
    padding-left: 0;
    padding-right: 0;
  }
  .card {
    &:nth-child(1) {
      border: 2px solid #111;
      box-shadow: -1px 1px 4px #fff;
    }
    &:nth-child(2) {
      border: 2px solid #111;
      box-shadow: 1px 1px 4px #fff;
      h5 span.no-wrap {
        white-space: nowrap;
      }
    }
  }
}

div.footer-wrapper {
  background-color: $footer-background-color;
  .footer {
    min-height: 120px;
  }
}

div.media-wrapper {
  @include magic-color;
  min-height: 90px;
  border-top: 1px solid #000;
  border-bottom: 1px solid rgb(30, 0, 51);
  div.media {
    a {
      display: inline-flex;
      width: 40px;
      height: 40px;
      font-size: 30px;
      background-color: #fff;
      color: #000;
      border-radius: 50%;
      margin: 0 5px;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      box-shadow: 0px 3px 4px rgba(255, 255, 255, 0.5);
      transition: all 0.3s ease;
      body.hasHover &:hover > i {
        transform: scale(1.2) rotate(-25deg);
        color: #fff;
      }
      body.hasHover &:hover {
        transform: translate(0, -5px);
      }
      body.hasHover &:nth-child(1):hover {
        background-color: #e4405f;
      }
      body.hasHover &:nth-child(2):hover {
        background-color: #3b5999;
      }
      body.hasHover &:nth-child(3):hover {
        background-color: #cd201f;
      }
      body.hasHover &:nth-child(4):hover {
        background-color: #d68204;
      }
    }
  }
}

#back-to-top-btn {
  display: none;
  justify-content: center; // When JS function make it to display as inline-flex
  align-items: center; // When JS function make it to display as inline-flex
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  background-color: rgb(30, 0, 51);
  color: #fff;
  cursor: pointer;
  outline: none;
  border: 2px solid #fff;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}

#back-to-top-btn:hover,
#back-to-top-btn:focus {
  background-color: #fff;
  color: rgb(30, 0, 51);
}

@media (min-width: 768px) and (max-width: 1200px) {
  #back-to-top-btn {
    width: 45px;
    height: 45px;
    font-size: 30px;
    bottom: 15px;
    right: 15px;
  }
}

@media (max-width: 768px) {
  #back-to-top-btn {
    width: 35px;
    height: 35px;
    font-size: 25px;
    bottom: 15px;
    right: 15px;
  }
}

.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}
/* zoomIn */
/* @keyframes btnEntrance {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }
} */

/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
}
/* zoomOut */
/* @keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
} */

/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
